.country-wrapper {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 92px);
  background-color: #fff;
}

.country-container {
  margin-top: 4rem;
  width: 1050px;
}

.button-container {
  margin-bottom: 4rem;
}

.back-btn {
  border: none;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  box-shadow: rgba(0.1, 0.1, 0.1, 0.1) 0px 2px 2px 0px;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
}

.country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  margin-top: 2px;
  flex-wrap: wrap;
}

.country-image img {
  min-width: 525px;
  width: 500px;
  box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
}

.country-content h2 {
  text-align: left;
}

.country-content-columns {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.country-content-columns span {
  font-weight: 800;
}

.country-content-columns .light {
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .country-wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .country-container {
    max-width: 80vw;
    margin: 2rem auto;
  }

  .country {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-container {
    margin: 1rem 0;
  }

  .country-image-wrapper {
    width: 100%;
    text-align: center;
    min-width: 0;
  }
  .country-image {
    min-width: 80vw;
  }

  .country-image img {
    min-width: 80vw;
    width: 80vw;
    margin: 2rem 0;
  }

  .country-content-wrapper {
    min-width: 80vw;
    margin: 0;
  }

  .country-content {
    min-width: 80vw;
  }
  .country-content h2 {
    min-width: 80vw;
    text-align: left;
  }
  .country-content-columns {
    width: 100%;
    width: 80vw;
    min-width: 80vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 4rem;
  }
}
