main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1800px;
  margin: 0 auto;
}

.main-container {
  margin: auto;
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
