main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.main-container {
  margin: auto;
  position: relative;
  max-width: 1600px;
  width: 100%;
  min-height: 80vh;
}

.loader {
  position: absolute;
  top: 40%;
  left: calc(50% - 60px);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

main li {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.card-link {
  margin: 1rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
