.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  max-width: 360px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.card-image img {
  width: 100%;
}

.card-content {
  margin-left: 1rem;
}
.card-content span {
  font-weight: 600;
}
